#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#infoDiv {
    position: absolute;
    top: 16px;
    right: 30px;
    padding: 10px;
    width: 200px;
    // height: 320px;
}

.limo-green-logo {
    height: 80px;
    width: auto;
    position: absolute;
    bottom: 40px;
    right: 30px;
    border: 1px solid black;
    border-radius: 8px;
}

.info-panel-bottom {
    position: absolute;
    width: 80vw;
    left: 30px;
    bottom: 40px;
    border-radius: 8px;
    border: 1px solid black;
    padding: 8px 16px;
    background: rgba($color: #92a67c, $alpha: 0.6);
}

.app-header {
    position: absolute;
    top: 0;
    z-index: 2;
    left: 64px;
}

.kpi-container {
    padding: 16px;
    font-size: 32px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    margin: 16px;
    border-radius: 8px;
}

#infoDiv {
    width: 15vw;
    top: 100px;
    right: 5px;
    position: absolute;
    z-index: 2;
    opacity: 0.9;
    background-color: whitesmoke;
    padding: 8px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;

    #chemicalFilter {
        max-width: 100%;
    }
}

#legendsDiv {
    width: 15vw;
    top: 155px;
    right: 5px;
    position: absolute;
    z-index: 2;
    opacity: 0.9;
    background-color: whitesmoke;
    padding: 8px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#timeSliderDiv {
    top: 100px;
    left: 5px;
    position: absolute;
    z-index: 2;
    opacity: 0.9;
    background-color: whitesmoke;
    padding: 8px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

@media screen and (min-width: 1400px) {
    .kpi-container {
        padding: 16px;
        font-size: 24px;
        font-weight: bold;
        background: rgba(255, 255, 255, 0.8);
        border: 1px solid black;
        margin: 16px;
        border-radius: 8px;
    }
}